/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  position: relative;
  background-color: #e5e5e5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* Header styles */

header {
  width: 100%;
  padding: 16px 35px 16px 24px;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
}

nav {
  width: 100%;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desk-top-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(96, 112, 255, 0.8);
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 106px 96px 0 28px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.desk-top-menu a {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.close-menu-btn {
  position: absolute;
  top: 62px;
  right: 38px;
}

/* Body styles */

#hero-container,
#about-container {
  background: url("../assets/header-shapes\ mobile@2x.svg") no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 70px;
  background-color: #fff;
  padding: 24px;
  min-height: 596px;
  width: 100%;
  margin: auto;
}

#hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 12px 0;
  color: #6070ff;
  animation: rotateLogo 1.5s linear;
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.my-name {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  max-width: 327px;
}

.my-description {
  margin: 12px 0;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #344563;
}

.my-email-link {
  color: #7f8cff;
  margin-bottom: 16px;
}

.project-used-techs li {
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.slide-content li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  background: #f7f7f9;
  padding: 9px 0 9.72px 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.my-social,
.about-my-social {
  display: flex;
  gap: 20px;
  margin-top: 12px;
  margin-bottom: 136px;
}

.my-social,
.about-my-social li {
  transition: all 0.3s ease;
}

.my-social,
.about-my-social li:hover {
  transform: translateY(-0.3rem);
}

#works-container {
  display: grid;
  grid-template-columns: auto;
  row-gap: 88px;
  justify-items: center;
  margin: 114px 0;
}

.project-card {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  width: 327px;
  min-height: 552px;
}

.project-img {
  width: 100%;
}

.desktop-img {
  display: none;
}

.project-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 12px 0;
}

.project-details {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.project-details h3 {
  color: #7a869a;
  font-weight: 600px;
  font-size: 13px;
  line-height: 16px;
}

.project-details h3:first-child {
  color: #344563;
}

.project-description {
  margin: 12px 0;
  font-weight: 400;
  margin-bottom: 12px;
  color: #344563;
}

.project-used-techs {
  display: flex;
  gap: 6px;
}

.call-to-action-btns {
  color: #396df2;
  background: transparent;
  border: 1px solid #6070ff;
  font-size: 17px;
  font-weight: 500;
  padding: 12px;
  margin: 24px 0 12px;
  border-radius: 8px;
  letter-spacing: 0.03em;
  transition: all 0.3s ease;
}

.call-to-action-btns:hover {
  color: #fff;
  background-color: #6070ff;
}

#about-container {
  border-radius: 0;
  border-top-right-radius: 70px;
  background: none;
  background-color: #fff;
}

.about-my-social {
  padding: 11px;
  margin: 12px 0;
}

.about-btn {
  margin: 0;
}

.about-skills {
  margin: 58px 0 114px;
}

.slide {
  border-bottom: 1px solid #e5e5e5;
}

.slide.active {
  border: none;
}

.slide-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
  padding: 24px 0 24px 12px;
}

.slide-header h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.slide-header .arrow {
  width: 12px;
  height: 6px;
  margin-left: auto;
  margin-right: 40px;
}

.slide-content {
  padding: 12px;
}

.slide-content li:last-child {
  margin-bottom: 0;
}

.slide-content li h6 {
  color: #253858;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

/* Form section styles */

.section-contact {
  background-color: #fff;
  width: 100%;
}

.form-container {
  background: #6070ff url("../assets/contact-bg-mobile.png") no-repeat top right;
  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  border-radius: 70px 0 0 0;
  padding: 60px 16px;
}

.form-container h2 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.form-container p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 17px;
  gap: 20px;
}

.contact-form .input-control {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
}

.contact-form input {
  padding: 15px 0 15px 16px;
}

input:invalid {
  border: 2px solid red;
}

.input-control input::placeholder,
.input-control textarea::placeholder {
  transition: transform 0.5s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: #a7b0ff;
}

.contact-form input:focus::placeholder,
.contact-form textarea:focus::placeholder {
  background-color: #a7b0ff;
  transform: translateX(5px);
}

.contact-form button {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 16px;
  color: #3265e5;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  text-transform: capitalize;
  margin-top: 22px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.contact-form button:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border: 1px solid #fff;
}

/* Form translate placeholder animation */

.input-control input:hover::placeholder,
.input-control textarea:hover::placeholder {
  transform: translateX(5px);
}

@media screen and (min-width: 686px) {
  .burger-menu {
    display: none;
  }

  .desk-top-menu {
    display: flex;
    justify-content: space-between;
    width: 259px;
    height: 40px;
    background-color: transparent;
    backdrop-filter: none;
    position: initial;
    flex-direction: row;
    padding: 0;
    transform: translateX(0) !important;
  }

  .mob-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-menu-btn {
    display: none;
  }

  .desk-top-menu li a {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  nav {
    padding: 0 154px;
  }

  #hero-container,
  #about-container,
  #works-container,
  header {
    width: 100vw;
  }

  #hero-container {
    background: #fff url("../assets/Header\ bg@2x.png") no-repeat;
    background-size: contain;
    min-height: 100vh;
    padding-left: 260px;
  }

  .my-name {
    max-width: 350px;
  }

  .about-call-to-action p {
    max-width: 447px;
  }

  #hero-container p {
    width: 70%;
  }

  #works-container {
    padding: 0 114px;
  }

  .project-card {
    display: flex;
    width: 100%;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    gap: 46px;
    overflow: hidden;
    flex-wrap: wrap;
  }

  .project-card:hover {
    border: 2px solid #a7aeff;
    transform: translateY(-1rem);
  }

  .project-card:hover .call-to-action-btns {
    background-color: #6070ff;
    color: #fff;
  }

  .desktop-img {
    display: initial;
    transition: all 0.3s ease;
    flex: 1 1 0;
  }

  .project-card:hover .desktop-img {
    transform: scale(1.1);
  }

  .project-details {
    flex-wrap: wrap;
  }

  .project-details h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .works-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-left: 46px;
    flex: 1 1 0;
  }

  .first-project {
    order: 3;
  }

  .second-project {
    order: 4;
    flex-direction: row-reverse;
  }

  .third-project {
    order: 1;
  }

  .forth-project {
    order: 2;
    flex-direction: row-reverse;
  }

  .mobile-img {
    display: none;
  }

  #about-container {
    display: flex;
    padding: 142px 142px 0 142px;
  }

  .about-call-to-action {
    flex: 1 1 0;
  }

  .about-skills {
    flex: 1 1 0;
  }

  #about-container .slide-content {
    display: flex;
    gap: 12px;
  }

  .slide-content li {
    width: 122px;
    height: 120px;
    align-items: flex-start;
    flex-direction: column;
    transition: all 0.3s ease;
  }

  .slide-content li:hover {
    transform: translateY(-0.5rem);
  }

  .section-contact {
    width: 100vw;
  }

  .form-container {
    padding: 142px 320px;
    background:
      #6070ff
      url("../assets/contact\ form\ background\ shapes@2x.png");
    background-size: cover;
  }

  .contact-form {
    width: 447px;
  }
}
